#home {
    background-color: #13AA84;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

#donate-container,
#comment-container {
    background-color: gainsboro;
    font-size-adjust: 2.00;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.first-layer {
    background-color: #16C196;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

.second-layer {
    background-color: #17D1A2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

.third-layer {
    background-color: #18E7B3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

#guest-book {
    background-color: #626C69;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

input[type=text] {
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
}

input[type=text]:focus {
    background-color:#FFDA84;
}

ol,
ul {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

body {
    background-image: url('Images/blackpower.jpg');
    background-size: 75px;
}

.third-layer .gallery {
    border: 1px solid #13AA84;
    float: left;
    margin: 20px;
    width: 200px;
}

.third-layer .gallery img {
    height: auto;
    width: 100%;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}